@use '../vendors/bootstrap' as b;
@use '../abstracts/variables' as v;

body {
  background-color: rgb(2, 2, 0);
  background-color: v.$surface-color;
  // background-color: v.$background-color;
  // background-color: #102a43;

  color: v.$high-emphasis-text-color;
}

.surface {
  background-color: v.$surface-color;
}

.bg-dark-2 {
  background-color: #102a43;
  background-color: #334e68;
  background-color: #243b53;
  // background-color: v.$surface-color;
  background-color: v.$surface-color-2;
}

.form-input {
  background-color: v.$surface-color;
  background-color: v.$surface-color-2;
  color: v.$high-emphasis-text-color;

  &:focus {
    background-color: v.$surface-color;
    background-color: v.$surface-color-2;
    color: v.$high-emphasis-text-color;
  }
}

.hover-img {
  &:hover {
    img {
      filter: brightness(50%);
      transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
    }
    .info-icon {
      opacity: 1;
    }
  }
}

.info-icon {
  opacity: 0;
  transition: all 0.5s;
}

.cursor-pointer {
  cursor: pointer;
}
