// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../vendors/bootstrap' as b;
@use '../abstracts/variables' as v;

.btn-scroll-to-top {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  position: fixed;
  right: 0;
  bottom: 0;
  &:focus {
    box-shadow: none !important;
  }
  color: v.$surface-color-2;
  background-color: v.$high-emphasis-text-color;
  border: none;
  border-radius: 50%;
  border-color: v.$surface-color-2;

  &:hover {
    color: v.$surface-color;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-scroll-to-top.fade-in {
  visibility: visible;
  opacity: 1;
}

.btn-submit {
  color: v.$medium-emphasis-text-color;
  background-color: v.$surface-color-2;
  // border: none;
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover {
    color: v.$high-emphasis-text-color;
    background-color: v.$surface-color-2;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:focus,
  &:active,
  &:focus:active {
    background-color: v.$surface-color-2 !important;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
