@use '../vendors/bootstrap' as b;
@use '../abstracts/variables' as v;

.icon-github,
.icon-external-link {
  color: v.$medium-emphasis-text-color;
  transition: all 0.2s;
  &:hover {
    color: v.$high-emphasis-text-color;
  }
}


